In [33]:
import csv
import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
from itertools import product
c=0
data_follower=pd.read_csv('/home/tripti/Desktop/Vivek/NSW/Project/NSW/NSW_Kashmir/#Kashmir_follower_followee_network.csv')
data_tweet= pd.read_csv('/home/tripti/Desktop/Vivek/NSW/Project/NSW/NSW_Kashmir/#Kashmir_tweets.csv')

# with open('/home/shuham/Desktop/ayodhyahearing_follower_network_new.csv') as f:
#     spamreader = csv.reader(f, delimiter=',')
# #     for k, m in [(t, s) for i, *j in spamreader for t, s in product(i, j)]:
# #         if len(m)!=0 :
# #             print (k, m)
# #             c=c+1
#     for row in spamreader:
#         for i in row:
#             if not m:
#                 print(row[0],i)

In [34]:
# data_tweet

In [35]:
userid_screen_name= data_tweet[['user_id','screen_name']]
dict={}
c=len(userid_screen_name)
for i in range(c):
    dict[userid_screen_name.iloc[i][0][1:]]=userid_screen_name.iloc[i][1]

In [36]:
retweet=data_tweet[['screen_name','retweet_screen_name']]
retweet=retweet.fillna(0)
retweet.head()

       screen_name retweet_screen_name
0           JKPNA1                   0
1       GoPeaceWay          salmi_gull
2  AbdurRehman1918               630wa
3  AbdurRehman1918       mabdullah2k19
4          MoFaisu          salmi_gull

In [37]:
file_handler=open("/home/tripti/Desktop/Vivek/NSW/Project/NSW/NSW_Kashmir/edgeList.csv","a+") 
c=len(retweet)
counter=0
for i in range(c):
    if retweet.iloc[i][1]==0:
        continue
    else:
        file_handler.write(retweet.iloc[i][0]+","+retweet.iloc[i][1]+"\n")
        counter=counter+1
file_handler.close()

In [38]:
screen_followerId = data_follower[['screen_name','followerIDs']]
screen_followerId.head()

       screen_name                                        followerIDs
0           JKPNA1  129555767, 1155318356817436672, 11708963347501...
1       GoPeaceWay  1088809351, 17995909, 1182343981486759936, 513...
2  AbdurRehman1918  1191790511796961282, 1191423113516335105, 1138...
3          MoFaisu  1053722499282821120, 1149955027462586368, 1116...
4    UmairKhanLive  1293832236, 1163978291742687238, 1171535472205...

In [39]:
import math
followerId = screen_followerId['followerIDs']
list_follwerId = followerId.str.split(",")
names = screen_followerId['screen_name']

In [40]:
file1 = open("/home/tripti/Desktop/Vivek/NSW/Project/NSW/NSW_Kashmir/edgeList2.csv","a") 
c=0
counter=0
for item in list_follwerId:
    for i in item:
        if i in dict:
            print(names[c],i)
            print(dict[i]+","+i+","+names[c])
            file1.write(dict[i]+","+i+"\n")
            counter+=1
    c=c+1

matiq2k19 1181476077149052928
1Irshadkhan,1181476077149052928,matiq2k19

In [47]:
# pd.DataFrame.from_dict(dict)
dict
val = []
for v in dict.values():
    val.append(v)

In [51]:
len(val)

154

In [5]:
di = {1:'a'}
if '1' in di:
    print('Ture')

In [7]:
di[1]

'a'